    h1{
 		font-family: Sans-serif; 
 		font-size: 10%;
 		font-style: normal; 
 		font-weight: bold; 
 		margin: auto;
 		text-align: center; 
	    color: darkorange;
 		
		}
	.container{

		border:2px solid gray;
			max-width: 400px;
			margin: auto;
			height: 50vh;
			display: flex;align-items: center;
			justify-content: center;
			background-color: #C0C0C0;
			flex-flow: row wrap;
		}
		
        	table{
		
 		font-family: verdana; 
 		color:white; 
 		font-size: 10px; 
 		font-style: normal;
 		font-weight: bold;
 		background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);  
 		border-collapse: collapse; 
 		border: 4px solid #000000;
 		border-style: dashed;
  
		}
	table.inner{
 		border: 10px
	}

	input[type=text], input[type=email], input[type=balance]{
 		width: 50%;
 		padding: 6px 12px;
 		margin: 5px 0;
 		box-sizing: border-box;
	}

	input[type=submit], input[type=reset]{
 		width: 10%;
 		padding: 8px 12px;
 		margin: 5px 0;
 		box-sizing: border-box;
}
@media screen and (max-width: 520px) {
  *{
    letter-spacing:1px;
  }
  .container{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
